.header {
  display: -webkit-box;
  display: flex;
  flex-basis: 100%;
  grid-area: header;
  height: 60px;
  background-color: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  position: sticky;
  padding: 12px 20px 10px;
  top: 0px;
  background: rgba(221, 221, 221, 0.533);
  border-bottom: 1px solid rgba(0, 0, 0, 0.133);
  backdrop-filter: blur(10px);
  z-index: 1000;
}

.side {
  height: 60px;
  width: 280px;
}

.right {
  width: 300px;
  right: 0;
  position: absolute;
  padding-right: 20px;
}

.main {
  margin-left: 280px;
}
